node_modules
.history
yarn-error.log
yarn.lock
.idea
.vscode/settings.json
client/dist/main.js
client/dist/main.js.map
client/dist/**/*.d.ts
client/dist/*.png
client/dist/*.jpg
client/resources/concept.png
server/room_password.txt
server/build
shared/*.js
client/resources/cards/deprecated
client/resources/symbols/deprecated
